body {
    background-color: #9e9eab;
}

h1 {
    color: #4567b7;
}

#T1 {
    margin: 0;
    padding: 0;
    width: 100%;
   
}

#angie {
    text-align: center;
    width: 60%;
}

#SE {
    text-align: right;
}

#T2 {
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

td img {
    display: table-cell;
    vertical-align: middle;
      
    
    width: 50%;
}

#C1 #C2 {
    width: 90%;
}

#C2 {
    text-align: right;
}
footer {
    text-align: center;
}

